html {
    height: 100%;
}
body {
    height: 100%;
    font-size: 16px;
    font-family: Verdana, Arial;
}
#text {
    clear: right;
    display: block;
    margin: 0 auto;
}
#Button_set {
    clear: right;
    display: block;
    margin: 0 auto;
}
#homeButton, #stopButton, #warmButton, #coolButton{
        margin: auto auto;
        width: 50%;
        border-radius: 20px;
        box-shadow: 0 6px 0 #e91b0c;
        background: #f44336;
        color: #fff;
        cursor: pointer;
        padding: 2px;
        text-align: center;
        font-weight: bold;
        font-size: 100px;
}
    #homeButton:hover, #stopButton:hover, #warmButton:hover, #coolButton:hover{
        opacity: 0.8;
    }
    #homeButton.pushed, #stopButton.pushed, #warmButton.pushed, #coolButton.pushed, {
        margin-top: 32px;
        box-shadow: 0 2px 0 #e91b0c;
    }
