a:hover {
    text-decoration: none;
}
#text {
    clear: right;
    display: block;
    margin: 0 auto;
}
#stateModes{
    margin: 20px 0px 20px 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 2px;
    border: medium solid #000;
}
.state{
}
#operationMode{
}
#temperatureMode{
}
#windMode{
}
.Button {
    margin: 0px 0px 20px 0px;
    border-radius: 20px;
    cursor: pointer;
    padding: 2px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;

    color: #000;
    background: #c0c0c0;
    box-shadow: 0 6px 0 #808080;
}
.Button:hover{
    opacity: 0.8;
}
.Button.pushed{
    margin-top: 32px;
    box-shadow: 0 2px 0 #e91b0c;
}
#coolButton{
    color: #fff;
    background: #0000FF;
    box-shadow: 0 6px 0 #000080;
}
#warmButton{
    color: #fff;
    background: #f44336;
    box-shadow: 0 6px 0 #e91b0c;
}
#dryButton{
    color: #fff;
    background: #00ff00;
    box-shadow: 0 6px 0 #00cc66;
}
#autoButton{
    color: #fff;
    background: #c0c0c0;
    box-shadow: 0 6px 0 #808080;
}
#autoButton{
}
#temperature{
    margin: 20px 0px 20px 0px;
    text-align: center;
}
.temperatureBox{
    font-size: 24px;
    font-weight: bold;
    padding: 2px;
    border: medium solid #000;
}
