{% extends "layout.html" %}
{% block content %}
<div id="text">
    <h1>My AC Controller</h1>
    <h2 style="font-size: 80px;">{{ state }}</h2>
</div>
<div id="Button_set">
    <div class="Button" id="homeButton">
        <a href="{{ url_for('index') }}">HOME</a>
    </div>
    <div class="Button" id="stopButton">
        <a href="{{ url_for('do_stopping') }}">STOP</a>
    </div>
    <div class="Button" id="warmButton">
        <a href="{{ url_for('do_warming') }}">WARM</a>
    </div>
    <div class="Button" id="coolButton">
        <a href="{{ url_for('do_cooling') }}">COOL</a>
    </div>
</div>
{% endblock %}
